/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .container{
      max-width: 1200px;
      margin: 0 auto;
  }


/* Reader */
.header{
    background-color: #117A25;
}
@media(min-width: 600px) {
    .header{
        padding-top: 40px;
    }
}
.header__title{
    color: white;
    font-size: 16px;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
}
@media(min-width: 600px) {
    .header__title{
        margin-left: 20px;
    }
}
.header__title--subtitle{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 20px;
    padding-bottom: 20px;
}
@media(min-width: 600px) {
    .header__title--subtitle{
        margin-left: 20px;
        padding-bottom: 0;
    }
}
/* MENU */
.menu__estilo{
    background-color: #094214;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  @media(min-width: 600px){
    .menu{
      flex-direction: row;
    }
  }
  .menu__item > a{
    padding: 7px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
  }
  .menu__item > a:hover{
    text-decoration: underline;
    color: white;
  }

  #nav{
    width: 100%;
    position: relative;
    color: white;
}
.input__menu{
    display: none;
}
.label__menu{
    position: absolute;
    font-size: 1.6em;
    margin-top: -115px;
    margin-left: 10px;
    float: left;
}
#nav ul {
    display: none;
}
#nav input:checked ~ ul {
    display: flex;
}
@media(min-width: 600px) {
    .label__menu, .input__menu {
        display: none;
    }
    #nav ul{
        display: flex;
    }
}


/* MAIN */
.secao__titulo{
    padding: 20px 0 2.5px;
    font-size: 24px;
    text-align: center;
    color: #00420C;
}
@media(min-width: 600px) {
    .secao__titulo{
        text-align: left;
        margin-left: 20px;
        margin-top: 50px;
    }
}
.secao__texto{
    font-size: 16px;
    text-align: left;
    max-width: 327px;
    line-height: 1.9;
}
.secao__texto > li{
    margin-left: 20px;
}
@media(min-width: 600px) {
    .secao__texto{
        text-align: left;
        margin-left: 20px;
        max-width: 572px;
    }
}
.conceito{
    background-color: #117A25;
    border-radius: 5px;
    max-width: 313px;
    padding: 25px;
    margin: 30px auto;
}
@media(min-width: 915px) {
    .conceito{
        float: right;
        margin-top: -610px;
        margin-right: 50px;
        margin-bottom: 15px;
    }
}
.conceito__titulo{
    text-align: center;
    font-size: 22px;
    color: white;
    line-height: 26px;
}
.conceito__nota{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
    line-height: 60px;
}
.coordenador{
    text-align: center;
}
@media(min-width: 915px) {
    .coordenador{
        float: right;
        margin-top: -430px;
        margin-right: 50px;
    }
}
.coordernador__foto{
    padding: 15px;
    border-radius: 25px;
}

/* DISCIPLINAS */
.disciplinas__titulo{
    text-align: center;
    font-size: 24px;
    color: #00420C;
    margin-top: 30px;
    margin-bottom: 40px;
}
@media(min-width: 600px) {
    .disciplinas__titulo{
    text-align: left;
    margin-left: 20px;
    font-size: 36px;
    }
}

/* TABELAS */
.table{
    width: 327px;
    display: block;
}
  .table, .table th, .table{
    border: 1px black solid;
    border-collapse: collapse;
  }
  .table th, .table td{
    padding: 10px;
  }
  .table tr:nth-child(1){
    background-color: lightgrey;
  }
  .table tr:not(:nth-child(1)):hover{     
    background-color: lightgreen;
  }
  @media(min-width: 1050) {
      .table{
        margin-right:  auto;
        width: 540px;
        display: inline-flex;
        height: 327px;
        justify-items: center;

      }
  }
  @media(min-width: 600px) {
    .tabelas{
        margin-left: 20px;
    }
    .table{
        margin-right:  auto;
        width: 540px;
        display: inline-flex;
        height: 327px;
        justify-items: center;
  }
  .table th{
    width: 540px;
  }
}

/* PROFESSORES */
.professores__titulo{
    font-size: 28px;
    color: #00420C;
    text-align: center;
    margin: 40px auto;
}
.professores__bloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
}
@media(min-width: 600px) {
    .professores__bloco{
        justify-content: space-between;
    }
}
.professores__cartao{
    display: flex;
    flex-direction: row;
    align-items: top;
}
.professores__foto{
    width: 114px;
    height: 114px;
    border-radius: 5px;
    border: 2px #00420C solid;
    margin: 10px 15px;
}
.professores__nome{
    font-size: 18px;
    color: #00420C;
    margin-top: 25px;
    margin-right: 20px; 
    line-height: 1.5;
    max-width: 350px;
}
@media(min-width: 600px) {
    .professores__nome{
        max-width: 200px;
    }
}

/* CONTATO */
.container__campo{
    display: flex;
    justify-content: center;
}
@media(min-width: 600px) {
    .container__campo{
        justify-content: initial;
        margin-left: 20px;
    }
}
.contato{
    margin: 30px 0;
    font-size: 24px;
    color: #00420C;
    text-align: center;
}
@media(min-width: 600px) {
    .contato{
        text-align: left;
        margin-left: 20px;
    }
}
.label{
    font-size: 12px;
    color: #117A25;
    width: 50px;
}
.campo{
    border: 0;
    border-bottom: 1px #00420C solid;
    width: 327px;
    color: #00420C;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -50px;
    outline: 0;
  }
  .btn__enviar{
      width: 327px;
      height: 39px;
      border-radius: 5px;
      border: 0;
      color: white;
      text-align: center;
      background-color: #117A25;
  }
  @media(min-width: 600px) {
      .btn__enviar{
          width: 80px;
          height: 30px;
         display: block;
         margin-left: 250px;
      }
  }


/* Footer */
.footer{
    background-color: #00420C;
    text-align: left;
    color:white;
    font-size: 18px;
    padding: 20px 0 80px 0;
    margin-top: 50px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
@media(min-width: 600px) {
    .footer__logo{
        flex-direction: initial;
    }
}

.footer__logo--imagem{
    width: 95px;
}
@media(min-width: 600px) {
.footer__logo--imagem{
    margin-top: 15px;
    }
}
.footer__endereco{
    font-size: 18px;
    margin-left: 20px;
    line-height: 21px;
    margin-top: 30px;
    margin-right: 20px;
}
.footer__endereco--nome{
    font-weight: bold;
}
