/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

/* Reader */
.header{
    background-color: #117A25;
    background-image: linear-gradient(#094214, #117A25);
}
.header--title{
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 24px;
    margin: 0 0 0 73px;
}
.header--title-subtitle{
    font-size: 24px;
    font-weight: bold;
}
.profile--title{
    padding: 20px 0 2.5px;
    font-size: 24px;
    text-align: center;
    color: #00420C;
}
.profile--text{
    font-size: 16px;
    text-align: left;
    max-width: 337px;
    line-height: 1.9;
    margin: 10px auto;
}
.field--title{
    font-size: 24px;
    color: #00420C;
    text-align: center;
    padding: 50px 0 2.5px;
}
.field--text{
    font-size: 16px;
    text-align: left;
    max-width: 316px;
    line-height: 1.9;
    margin: 10px auto;
}
.process__title{
    font-size: 24px;
    color: #00420C;
    text-align: center;
    padding: 50px 0 2.5px;
}
.process__list{
    text-align: left;
    margin: 5px auto;
    max-width: 316px;
}
.conceito{
    background-color: #117A25;
    border-radius: 5px;
    max-width: 313px;
    padding: 25px;
    margin: 30px auto;
}
.conceito__title{
    text-align: center;
    font-size: 22px;
    color: white;
    line-height: 26px;
}
.conceito__nota{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
    line-height: 60px;
}
/* Footer */
.footer{
    background-color: #00420C;
    text-align: left;
    color:white;
}
.footer__image{
    
}
.footer__endereco{
    padding: 5px 0 0 24px;
    line-height: 20px;
}